@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;600;700&display=swap');
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');
@import url('https://unpkg.com/react-leaflet-markercluster/dist/styles.min.css');

.leaflet-container {
  @apply rounded;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: rgb(218, 220, 224);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
